@import url("https://fonts.cdnfonts.com/css/general-sans") layer(base);
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Geologica:wght@100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Sen:wght@400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap') layer(base);
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Comfortaa:wght@300..700&family=Dela+Gothic+One&family=Golos+Text:wght@400..900&family=Protest+Strike&family=Righteous&family=Space+Grotesk:wght@300..700&family=Tilt+Neon&display=swap') layer(base);


@import "tailwindcss";

@theme {
    --font-noto: Noto Sans Display, sans-serif;
    --font-tilt: Tilt Neon, sans-serif;
    --font-outfit: Outfit, sans-serif;
    --font-comfortaa: Comfortaa, sans-serif;

    --font-generalsans: General Sans, sans-serif;
    --font-golos: Golos Text, sans-serif;
    --font-righteous: Righteous, sans-serif;
   
    
    

    --color-black-100: #010103;
    --color-black-200: #0e0e10;
    --color-black-300: #1c1c21;
    --color-black-500: #3a3a49;
    --color-black-600: #1a1a1a;
    --color-black: #000000;

    --color-white-500: #62646c;
    --color-white-600: #afb0b6;
    --color-white-700: #d6d9e9;
    --color-white-800: #e4e4e6;
    --color-white: #ffffff;

    --color-brand: hsl(170, 47.40%, 54.50%);
    --color-text:hsl(220, 4.80%, 20%);
    --color-text-mild: rgb(73, 75, 82);
    --color-grey: hsl(227, 5%, 45%);
    --color-accent: hsl(258, 49.80%, 44.50%);
    --color-heading: #626773;
    --color-brand-2: hsl(170, 60%, 80%);
    --color-brand-3: hsl(210, 69.8%, 85%);
    --color-brand-4: hsl(247, 60%, 86%);
    --color-border: hsl(228, 82.4%, 80.2%);
    --color-border-dark:hsla(227, 42.90%, 73.90%, 0.85);
    --color-background: hsl(210, 20%, 89%);
    --color-background-lighter: hsl(210, 30%, 93%);
    --color-background-darker: hsl(210, 20%, 85%);
    --image-terminal: url("/assets/terminal-light.png");
}

html[data-theme="dark"] {

    --color-text: rgb(225, 229, 230);
    --color-text-mild: rgb(211, 214, 219);
    --color-grey: hsl(227, 5%, 29%);
    --color-heading: rgb(229, 223, 250);
    --color-brand-2: hsl(263, 25%, 9%);
    --color-brand-3: hsl(210, 55%, 7%);
    --color-brand-4: hsl(247, 30%, 9%);
    --color-border: hsl(247, 30%, 35%);
    --color-border-dark: hsla(183, 80.40%, 18.00%, 0.45);
    --color-background: hsl(210, 5%, 12%);
    --color-background-lighter: hsl(210, 5%, 18%);
    --color-background-darker: hsl(210, 5%, 6%);

    --image-terminal: url("/assets/terminal.png");
}

* {
    scroll-behavior: smooth;
}
*,
::before,
::after {
    box-sizing: border-box;
}
html {
    color-scheme: light dark;
    accent-color: var(--color-brand);
    color: var(--color-text);
    background-color: var(--color-background-darker);
    font-family: var(--font-noto);
    font-weight: 400;
 
}

.terminal-image {
    background-image: var(--background-image-terminal);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--color-background);
}
.text-gradient {
    --tw-gradient-position: to right in oklab;
    background-image: linear-gradient(var(--tw-gradient-stops));
    --tw-gradient-from: var(--color-brand);
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
    --tw-gradient-from-position: 60%;
    --tw-gradient-via: var(--color-accent);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-accent, currentColor);
    }
}

/* @utility main-space {
    @apply bg-background text-text;
} */
@utility c-space {
    @apply sm:px-10 px-5;
}

@utility head-text {
    @apply sm:text-4xl text-3xl font-semibold;
}
@utility header-navbar {
    @apply *:font-tilt tracking-wide bg-background text-text border-b-1 border-background-lighter w-screen;
}

@utility nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

@utility nav-li {
    @apply *:font-tilt tracking-wide max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
}

@utility nav-li_a {
    @apply text-xl md:text-lg text-text hover:text-accent transition-colors duration-200 ease-in-out;
}

@utility nav-sidebar {
    @apply *:font-tilt tracking-wide absolute left-0 right-0 bg-black-200 backdrop-blur-xs transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
}

@utility text-gradient {
    @apply bg-linear-to-r from-brand from-60% via-brand-2 via-60% to-accent to-100% bg-clip-text text-transparent;
}

@utility btn {
    /* button component */
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-background border-1 border-brand transition-all hover:scale-101 active:scale-97 hover:border-brand-2 hover:bg-background/60 text-text mx-auto;
}

@utility btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-accent opacity-75;
}

@utility btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-text-mild;
}

@utility hero_tag {
    /* hero section */
    @apply text-center xl:text-5xl md:text-4xl sm:text-3xl text-2xl font-generalsans font-black leading-normal!;
}

@utility grid-container {
    /* about section */
    @apply w-full h-full text-text border-border-dark/70 border-1 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
}

@utility grid-headtext {
    @apply text-xl font-semibold mb-2 text-text text-gradient;
}

@utility grid-subtext {
    @apply text-text-mild text-base;
}

@utility copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
}

@utility arrow-btn {
    /* projects section  */
    @apply cursor-pointer hover:scale-101 active:scale-95 transition-all p-5 rounded-full bg-grey/65 hover:bg-grey/75;
}

@utility tech-logo {
    @apply w-12 h-12 rounded-md p-2 bg-background-lighter backdrop-filter backdrop-blur-lg flex justify-center items-center;
}

@utility client-container {
    /* clients section */
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
}

@utility client-review {
    @apply rounded-lg md:p-10 p-5 col-span-1;
}

@utility client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
}

@utility work-container {
    /*  work experience section */
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

@utility work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-border;
}

@utility work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-border;
}

@utility work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
}

@utility work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
}

@utility work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
}

@utility contact-container {
    /* contact section */
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
}

@utility terminal-image {
    @apply bg-(image:--image-terminal) bg-no-repeat bg-cover bg-center;
}

@utility field-label {
    @apply text-lg text-text;
}

@utility field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-text text-lg text-text shadow-black-200 shadow-2xl focus:outline-hidden;
}

@utility field-btn {
    @apply bg-background-darker px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-text gap-3;
}

@utility field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

@utility social-icon {
    /*  footer */
    @apply cursor-pointer hover:scale-101 active:scale-98 transition-all rounded-full bg-grey hover:bg-grey/75 w-12 h-12 flex justify-center items-center border border-background;
}

.waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.arrow-gradient {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0.000025) 50%,
        rgba(255, 255, 255, 0.000025) 50%,
        rgba(255, 255, 255, 0.025) 100%
    );
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(14deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
