@import url('https://fonts.cdnfonts.com/css/general-sans') layer(base);

@import 'tailwindcss';

@theme {
  --font-generalsans: General Sans, sans-serif;

  --color-black-100: #010103;
  --color-black-200: #0e0e10;
  --color-black-300: #1c1c21;
  --color-black-500: #3a3a49;
  --color-black-600: #1a1a1a;
  --color-black:rgb(12, 11, 11);

  --color-white-500: #62646c;
  --color-white-600: #afb0b6;
  --color-white-700: #d6d9e9;
  --color-white-800: #e4e4e6;
  --color-white:rgb(250, 247, 247);
  --color-dark: hsla(260, 15%, 16%, 1);
--color-darkish: hsla(255, 14%, 28%, 1);
--color-brand: rgb(180, 221, 218);
--color-light: hsla(192, 71%, 92%, 1);
--color-primary: hsla(249, 66%, 83%, 1);
--color-secondary: hsla(298, 42%, 86%, 1);
--color-accent: hsla(332, 62%, 72%, 1);


  --background-image-terminal: url('/assets/terminal.png');
}

* {
  scroll-behavior: smooth;
}
html {
  width: 100%;
  max-width: 100vw;
}
body {
  font-family: 'General Sans', sans-serif;
  background-image: linear-gradient(
   45deg,
   var(--color-light), var(--color-brand), var(--color-secondary), var(--color-primary), var(--color-accent)
  );
  background-position: 100% 100%;
  animation: gradient-animation 15s ease infinite;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 75% 100%;
  }
  
}
.glass-bg-light {
    backdrop-filter: blur(8px) saturate(60%);
    -webkit-backdrop-filter: blur(8px) saturate(60%);
    background-color: rgba(204, 201, 236, 0.56);
}
.glass-bg-dark {
    backdrop-filter: blur(8px) saturate(87%);
    -webkit-backdrop-filter: blur(8px) saturate(87%);
    background-color: rgba(17, 26, 43, 0.57);
}
.neu-bg-light { border-radius: 16px;
background:rgba(178, 179, 224, 0.57);
box-shadow:  12px 12px 70px rgba(111, 108, 177, 0.55),
             -12px -12px 52px rgba(102, 105, 134, 0.47);
            }
.neu-bg-dark {
        border-radius: 16px;
      background: linear-gradient(145deg,rgba(34, 32, 41, 0.97), rgba(21, 33, 71, 0.63));
      box-shadow:  30px 30px 64px rgba(17, 24, 88, 0.31),
             -30px -30px 64px rgba(32, 2, 2, 0.24);
             }

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-primary);
  }
}

@utility c-space {
  @apply sm:px-10 px-5;
}

@utility head-text {
  @apply sm:text-xl text-2xl font-semibold bg-[radial-gradient(ellipse_at_bottom_left,_var(--tw-gradient-stops))] from-blue-500 via-violet-800 to-pink-800 bg-clip-text text-transparent;
}

@utility nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

@utility nav-li {
  @apply text-darkish hover:text-white font-generalsans max-sm:hover:bg-transparent max-sm:w-full py-2 max-sm:px-5;
}

@utility nav-li_a {
  @apply text-lg md:text-base hover:text-light transition-colors;
}

@utility nav-sidebar {
  @apply absolute left-0 right-0 transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
}

@utility text-gray_gradient {
  @apply bg-linear-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
}
@utility text-brands_gradient {
  @apply bg-linear-to-br from-(--color-brand) via-(--color-primary) to-(--color-secondary) bg-clip-text text-transparent;
}

@utility btn {
  /* button component */
  @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md border-darkish transition-all active:scale-95 text-light mx-auto;
}

@utility btn-ping {
  @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-light opacity-75;
}

@utility btn-ping_dot {
  @apply relative inline-flex rounded-full h-3 w-3 bg-brand;
}

@utility hero_tag {
  /* hero section */
  @apply text-center xl:text-5xl md:text-4xl sm:text-3xl text-2xl font-generalsans font-black leading-normal!;
}

@utility grid-container {
  /* about section */
  @apply w-full h-full rounded-lg sm:p-7 p-4 flex flex-col gap-8;
}

@utility grid-headtext {
  @apply text-xl font-semibold mb-2 font-generalsans;
}

@utility grid-subtext {
  @apply font-generalsans;
}

@utility copy-container {
  @apply cursor-pointer flex justify-center items-center gap-2;
}

@utility arrow-btn {
  /* projects section  */
  @apply w-10 h-10 p-3 cursor-pointer active:scale-95 bg-dark transition-all rounded-full;
}

@utility tech-logo {
  @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-black/10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
}

@utility client-container {
  /* clients section */
  @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
}

@utility client-review {
  @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300 bg-black/10;
}

@utility client-content {
  @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
}

@utility work-container {
  /*  work experience section */
  @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

@utility work-canvas {
  @apply col-span-1 rounded-lg bg-darkish border border-dark;
}

@utility work-content {
  @apply col-span-2 rounded-lg bg-light border border-secondary;
}

@utility work-content_container {
  @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-secondary rounded-lg sm:px-5 px-2.5;
}

@utility work-content_logo {
  @apply rounded-3xl w-16 h-16 p-2 bg-dark;
}

@utility work-content_bar {
  @apply flex-1 w-0.5 mt-4 h-full bg-dark group-hover:bg-darkish group-last:hidden;
}

@utility contact-container {
  /* contact section */
  @apply max-w-xl bg-transparent relative z-10 sm:px-10 px-5 mt-12;
}

@utility field-label {
  @apply text-lg text-light;
}

@utility field-input {
  @apply w-full bg-darkish px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-light shadow-black-200 shadow-2xl focus:outline-hidden;
}

@utility field-btn {
  @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
}

@utility field-btn_arrow {
  @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

@utility social-icon {
  /*  footer */
  @apply w-12 h-12 rounded-full flex justify-center items-center bg-darkish border border-dark;
}

@layer utilities {
  * {
    scroll-behavior: smooth;
  }

}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}